<div class="section-wrapper">
    <section class="section projects" id="projects">
        <div class="full-width">
            <div class="section-heading" id="featured-projects-text">Projects</div>
            <div class="project-technologies">
                <a id="featured" class="semi-transparent-button with-border white-button" onclick="selected('featured')">Web Projects</a>
            </div>
            <div class="projects-wrapper">
                <!-- filled in by js -->
                <div class="wrapper">
                    <div class="card radius shadowDepth1">
                        <div class="card__image border-tlr-radius">
                            <a href="http://itproject.ezenac.co.kr/ilchooL/">
                                <img src="../assets/images/logo.png" alt="image" id="project-image" class="border-tlr-radius">
                            </a>
                        </div>
                        <div class="card__content card__padding">
                            <article class="card__article">
                                <h2><a href="http://itproject.ezenac.co.kr/ilchooL/">ilchooL</a></h2>
                                <p class="paragraph-text-normal">팀 프로젝트로 진행한 Spring 기반의 웹사이트입니다. 홈페이지 디자인은 <a href="https://www.criticalmass.com/">criticalmass</a>을 벤치마킹했으며, 저는 로그인, 회원가입(카카오 주소API 연동), 아이디/비밀번호 찾기, 마이페이지 기능 구현과 회원 DB 구축&연동&관리 , 전체 페이지 디자인 작업과 전체 프로젝트 디버깅을 담당했습니다.</p>
                            </article>
                            <div class="card__meta" style="line-height: 2.15;">
                                <span class="project-technology paragraph-text-normal">Spring Framework</span>
                                <span class="project-technology paragraph-text-normal">MariaDB</span>
                                <span class="project-technology paragraph-text-normal">Tomcat</span>
                                <span class="project-technology paragraph-text-normal">JavaScript</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>